---
layout: page
title: Blog
url: /blogs
permalink: /blogs/
---

<div class="row">
  <div class="col-md-12">
    <ul>
      {% for post in site.posts %}
        <li>
          <span class="post-meta"><i class="fa fa-calendar" aria-hidden="true"></i>: {{ post.date | date: "%b %-d, %Y" }}</span>
          <h2>
            <a class="text-primary" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <div>
          	<p>
          	  {{ post.excerpt }}	
          	</p>
            {% if post.tags != '' %}
          	<p>
          	  Tagged with <i class="fa fa-tags" aria-hidden="true"></i>:  
          	  {% for tag in post.tags %}
          	  	<span class="label label-default">{{ tag }}</span>
          	  {% endfor %}	
          	</p>
            {% endif %}
          </div>
          <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary" role="button">Read More</a>
        </li>
        <hr>
      {% endfor %}
    </ul>
    <p>Subscribe <a class="btn btn-primary" role="button" href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div>  
</div>
