/**
 * Variables
 */
$github-color                     : #333333;
$linkedin-color                   : #007bb6;
$google-plus-color                : #dd4b39;
$twitter-color                    : #00aced;
$facebook-color                   : #3b5998;


$header-height                    : 70px;
$header-xs-height                 : 52px;

$color-bg                         : #2C3E50;
$color-white                      : #FFFFFF;
$color-green                      : #18BC9C;
$color-green-light                : #E2F3EF;
$color-grey-light                 : #9ba1a6;
$color-terminal-bg                : #291d1d;
$color-post-page-bg               : #f1f1f1;