<footer class="footer">
  <div class="container text-center">
    <ul class="list-inline">
      <li><a class="social-buttons" href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a class="social-buttons" href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a class="social-buttons" href="#"><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/javascripts/vendor/bootstrap.min.js"></script>
