{% include base_path %}

<div class="mastheader mastheader--fixed-top">
  <div class="container">
    <div class="row visible-xs">
      <div class="col-xs-2">
        <button id="menu-toggle" type="button" class="mastheader__nav-button" data-target="nav-toggle">
          <i class="fa fa-2x fa-bars mastheader__nav-button__icon-bar" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col-xs-10 text-center text-uppercase mastheader__brand-name">
        {{ site.name }}
      </div>
    </div>
    <div class="row">
      <div class="hidden-xs col-sm-5 col-md-5 col-lg-5 text-center text-uppercase mastheader__brand-name">
        {{ site.name }}
      </div>
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <ul id="nav-toggle" class="mastheader__nav">
          {% for link in site.data.navigation.main %}
            {% assign current = nil %}
            {% if page.url == link.url %}
              {% assign current = 'mastheader__link--active' %}
            {% endif %}
            <li class="mastheader__nav__item">
              <a class="text-uppercase mastheader__link {{ current }}" href="{{ link.url | prepend: base_path }}" 
                {% if link.target %}target="{{ link.target }}" {% endif %}>
                  {{ link.title }}
                {% if link.img %}<img src="{{ link.img | prepend: base_path }}">{% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div> 
</div>
