/**
 * Variables
 */

$brand-primary:              #9b59b6;
$brand-primary:              #337ab7;

$header-color:               $brand-primary; 
$footer-color:               #c0c0c3;
$navbar-font-color:          #ffffff;
$navbar-font-hovor-color:    $brand-primary;
$navbar-font-hovor-bg-color: $footer-color;