---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Variables to modify font folders
$icon-font-path:      "../fonts/bootstrap";
$fa-font-path:        "../fonts/font-awesome";

// import the theme variables
@import "variables";

// customization
$link-color:                       $font-color;
$link-hover-color:                 $font-hovor-color;

$navbar-height:                    100px;

$navbar-inverse-bg:                $header-color;
$navbar-inverse-link-color:        $font-color;                
$navbar-inverse-link-hover-color:  $font-hovor-color;

$navbar-inverse-brand-color:       $font-color; 
$navbar-inverse-brand-hover-color: $font-hovor-color;

@import "bootstrap-sass/bootstrap";
@import "font-awesome-sass/font-awesome";


html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 130px; 
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: $footer-color;
}

.social-buttons {
  text-align: center;
  display: block;
  background-color: $header-color;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color:  $font-color;
  outline: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;  
}

