---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="pt-5">

    {% include browser-upgrade.html %}
    {% include masthead.html %}
     
    <div class="content"> 
      {{ content }}
    </div>

    <div class="footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>