/* override the social link background colors */
.fa-facebook--bg {
  background-color: $facebook-color;
} 
.fa-linkedin--bg {
  background-color: $linkedin-color;
}
.fa-twitter--bg {
  background-color: $twitter-color;
}
.fa-google-plus--bg {
  background-color: $google-plus-color;
}
.fa-github--bg {
  background-color: $github-color;
}
.fa-stackoverflow--bg {
  background-color: $stackoverflow-color;
}

/* star */
.star {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
  color: $color-bg;

  &--white {
    color: $color-white;

    &:after {
      background-color: $color-green !important;
    }
  }

  &:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -.8em;
    font-size: 2em;
    padding: 0 .25em;
    background-color: $color-white;
  }
}

/* list styles */
.list {
  list-style: none;

  &--padding {
    padding: 5px;
  }
  
}